.connection_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: purple;
    width: 475px;
}

.connection_box_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: -20px;
}

.box_text {
    color: white;
    font-size: 24px;
    font-family: sans-serif;
    text-align: center;
    line-height: 1;
    margin-right: 5px;
}

@media (max-width: 768px) {
    .connection_container {
        width: 300px;
    }
    
    .connection_box_container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 10px;
        margin-top: -20px;
    }
    
    .box_text {
        color: white;
        font-size: 20px;
        font-family: sans-serif;
        text-align: center;
        line-height: 1;
        margin-right: 5px;
    }
}